# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment files
.env
.venv/
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Streamlit cache
.streamlit/

# FastAPI cache
*.log

# Mac / Windows system files
.DS_Store
Thumbs.db

# VSCode / PyCharm
.vscode/
.idea/

# Build / packaging
build/
dist/
*.egg-info/

# Data
*.csv
*.tsv
*.xlsx
*.pickle
*.pkl
